<h1>ONC Test Team Direct Certificate Discovery Tool </h1>
<p> For more information, please see the <a href="http://modularspecs.siframework.org/Phase+3+Homepage"> Modular Specifications Phase 3
 wikispaces</a></p>
<p>To test if your system can discover certificates loaded on the test tool, please go to
<%= link_to "the certificate discovery", queries_path %> area of the site.</p>
