      <div class="controls" >
        <%= f.label :script, "Script" %> 
        <%= f.text_field :script %>
        
        <%= f.label :expectedResult, "Expected Response" %>
        <%= f.text_field :expectedResult %><br />
            
        </div>
    
    
